body{
	background-color:#E9D8D5;
    color: rgb(78, 10, 40);
    font-family: 'Sen', sans-serif;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.3px;
    font-weight: 500;
    text-align: center;
}

h1{color: rgb(221, 91, 148);
	font-size: 40px;
	font-family: 'Lobster', cursive;
	font-weight: lighter;
}

img{ width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: auto;
	display: block;
}


h2{ background-color: rgb(221, 91, 148);
    color: rgb(250, 250, 250);
    text-transform: uppercase;
    font-size: 20px;
}

h3{background-color: rgb(255, 201, 77 );
   letter-spacing: 1px;
   font-size: 20px;
}

h2, h3{font-family:'Fjalla One', sans-serif;
       font-weight: lighter;
}

a{text-decoration: none;
  font-weight: bolder;
  transition: color 0.2s ease;
  font-size: 17px;
}

.btn-purple{color: #9959AA ;
            background-color: rgb(255, 233, 182);
            padding: 10px 15px;
            border-radius: 20px;
}

.btn-purple:hover{ color: rgb(255, 233, 182);
	     background-color: #9959AA;
}


p{text-justify: center;
}
 
i{font-size: 30px;
  margin: 20px;
  color: #9959AA;
  background-color: rgb(255, 233, 182);
  border-radius: 40%;
  height: 35px;
  width: 40px;    
}

li{display: inline-block;}


.list-inline{list-style: none;
           	padding-left: 0px;
}

.list-inline i:hover{color: rgb(255, 233, 182);
	     color: rgb(255, 233, 182);
	     background-color: #9959AA;
}


div{background: white;
 padding: 30px;
 margin: 50px auto;
 border-radius: 5px;
 box-shadow: 0px 15px 35px rgba(50,50,93,0.1);
 width: 700px;
 border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#container {margin: 50px auto;
 width: 660px;
 padding: 20px;}
 
@media (max-width: 850px) {
	#container {
		width: 470px;

	}
}

@media (max-width: 850px) {
	.container {
		width: 500px;

	}
}


@media (max-width: 700px) {
	#container {
		width: 390px;

	}
}

@media (max-width: 700px) {
	.container {
		width: 400px;

	}
}

@media (max-width: 400px) {
	#container {
		width: 180px;

	}
}

@media (max-width: 400px) {
	.container {
		width: 200px;

	}
}

